<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/question.css">
    <script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="../js/index.js"></script>
    <script defer src="../js/questionPage.js"></script>
    <script defer src="../js/answer.js"></script>
    <title>{{question.title}}</title>
</head>
<body>
    {{>navbar}}
    <div class="container">
        <main class="question container">
            <h1>{{question.title}}</h1><br>
            <h2>{{question.description}}</h2>
            <p>Posted by {{question.user}} <span id="date">{{question.date}}</span> </p>
        </main>
        <section class="section section-form">
            <h2 class="common-heading">Enter Your Answer</h2>
            <textarea id="answer" cols="60" rows="8" class="form-input"></textarea><br>
            <button id="submit" class="btn hover-effect">Answer</button>
        </section>
    </div>
</body>
</html>