<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{question.heading}}</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
    {{>navbar}}
    <h1 id="heading">{{question.heading}}</h1>
    <p id="description">{{question.description}}</p>
    <input type="hidden" value={{question.userId}} id="quesId">
    <input type="hidden" value={{question._id}} id="questionId">
    <div id="form">
        <textarea name="answer" id="answer" cols="30" rows="10"></textarea>
        <button id="submit">Answer</button>
    </div>
    <br><br>
    <hr>
    <ul id="answers"></ul>
</body>
<script src="../js/index.js"></script>
<script src="../js/comment.js"></script>
<script src="../js/question.js" reder></script>
<script src="../js/answer.js" ></script>

</html>
<script>
    updateNavbar()

    
</script>