<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}}</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/user.css">
    <script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../js/index.js"></script>
</head>

<body>
    {{>navbar}}
    <div class="container main">
        <div class="head">
            <h1>{{user.name}}</h1>
        </div>
        <hr>
        <div class="detailsSection">
            <div class="details">
                <ul>
                    <li class="detail">Name: <span>{{user.name}}</span></li>
                    <li class="detail">Email: <span>{{user.email}}</span></li>
                    <li class="detail">Age: <span>{{user.age}}</span></li>
                    <li class="detail">Address: <span>{{user.address}}</span></li>
                    <li class="detail">Number: <span>{{user.number}}</span></li>
                </ul>
            </div>
        </div>
        <div class="changePassword">
            <h3>Change password:</h3>
            <input type="password" placeholder="new password"><br>
            <button class="btn hover-effect btn-password">Change Password</button>
        </div>
    </div>
</body>

</html>